$body_width: 100%;

// ----------------- Mixins --------------------- //

@mixin box-sizing($mode) {
    -webkit-box-sizing: $mode;
    -moz-box-sizing: $mode;
    box-sizing: $mode;
}

// ----------------- Desktop Layout --------------------- //

.row {
    margin: 0 auto;
    width: $body_width;

    .column {
        @include box-sizing(border-box);

        display: inline-block;
        float: left;
        margin: 0 3%;
        
        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    .column.width1 {
        width: 100%;
        margin: 0;
    }

    .column.width1_2 {
        width: 47%;
    }

    .column.width1_3 {
        width: 29.3%;
    }

    .column.width1_4 {
        width: 20.5%;
    }

    .column.width2_5 {
        width: 37.6%;
    }

    .column.width3_5 {
        width: 56.4%;
    }

    .column.width3_4 {
        width: 73.5%;
    }
}

// ----------------- Tablet Layout --------------------- //

@media only screen and (max-width: 1124px) {

    .row {
        .column.width1_2, .column.width3_4 {
            float: none;
            width: 100%;
            margin: 0;

            &:last-of-type {
                margin: 0;
            }

            &:first-of-type {
                margin-bottom: 3%;
            }
        }

        .column.width1_3 {
            float: none;
            width: 100%;
            margin: 0;

            &:first-of-type {
                margin-bottom: 3%;
            }

            &:nth-of-type(2) {
                margin-bottom: 3%;
            }

            &:last-of-type {
                margin: 0;
            }
        }

        .column.width1_4 {
            width: 47%;

            &:first-of-type {
                margin-bottom: 3%;
            }

            &:nth-of-type(2) {
                margin-right: 0;
                margin-bottom: 3%;
            }

            &:nth-of-type(3) {
                margin-left: 0;
                clear: both;
            }
        }
    }
}

@media only screen and (max-width: 900px) {

}

// ----------------- Mobile Layout --------------------- //

@media only screen and (max-width: 580px) {
    .row {
        width: 100%;

        .column {
            padding: 1% 11%;
        }

        .column.width1_4, .column.width2_5, .column.width3_4, .column.width3_5 {
            width: 100%;
            margin: 0;
        }
    }
}

// ------------------ IE Fixes -------------------- //

.lt-ie8 {
    .row {
        .column.width1_2 {
            width: 41%;
        }

        .column.width1_4 {
            width: 20.4%;
        }
    }
}