bertha::view_mode: dev # Valid values are dev or dist

bertha::sites:
  preview:
    host:
    ftp_host:
    ftp_user:
    ftp_password:
  live:
    host:
    ftp_host:
    ftp_user:
    ftp_password:

bertha::libraries:
  css:
    - name: cssreset
  scss:
    - name: grid
    - name: typeplate
      version: 1.1.3
  js:
    - name: jquery
      version: 1.11.1
