bertha::view_mode: dev # Valid values are dev or dist

bertha::sites:
  preview:
    host:
    ftp_host:
    ftp_user:
    ftp_password:
  live:
    host:
    ftp_host:
    ftp_user:
    ftp_password:

libraries:
  css:
    - cssreset
  scss:
    - grid
    - typeplate
  js:
    - jquery-1.11.1
