// ----------------- Variables --------------------- //

$black: #000000;
$white: #ffffff;

$font_serif: Times, 'Times New Roman', serif;

// ----------------- Includes --------------------- //

@import 'includes';
@import 'alt/mobile';
@import 'alt/retina';
@import 'alt/ie';

// ----------------- Styles --------------------- //

html {

}
