// ----------------- Variables --------------------- //

$black: #000000;
$white: #ffffff;

$font_serif: Times, 'Times New Roman', serif;

// ----------------- Includes --------------------- //

@import 'foundation';
@import 'alt/mobile';
@import 'alt/retina';
@import 'alt/ie';

// ----------------- Styles --------------------- //

html {

}

body {
  margin: 0;
}

// ----------------- Import our Pages --------------------- //

@import 'pages/home';
@import 'pages/404';
